openapi: 3.1.0
info:
  title: Startup Analyst Agent API
  description: |
    An AI-powered business intelligence assistant that evaluates startups and private companies
    by analyzing market potential, business models, competition, financial signals, and risks.
    Uses web search and article extraction to generate markdown-formatted due diligence reports
    covering business fundamentals, market dynamics, and strategic recommendations.

    Implements the A2A Protocol with JSON-RPC 2.0 methods for agent communication, task
    management, context management, DID resolution, and payment processing.

    ## Why Task-First Architecture?

    This API follows Bindu's **Task-First Agent Pattern** - every interaction creates a trackable task.
    This isn't just about async operations; it enables:

    **Multi-Agent Orchestration**
    - Track work across analysis workflows (web research, article extraction, LLM analysis)
    - Each analysis step becomes a task with clear state and results
    - Orchestrators can coordinate complex due diligence workflows by chaining tasks

    **Parallel Execution**
    - Multiple analysis tasks can run simultaneously with unique task IDs
    - Example: Analyze multiple startups in parallel for comparison

    **Dependency Management**
    - Use `referenceTaskIds` to chain tasks together
    - Later tasks can reference earlier analysis results
    - Build complex workflows: Task A (Company Research) → Task B (Competitive Analysis) → Task C (Investment Thesis)

    **Context Continuity**
    - Multiple tasks share the same `contextId` for conversation history
    - Maintain context across a series of related analysis requests

    This aligns with the A2A Protocol's "Task-only Agent" pattern where **all responses are Task objects**,
    enabling orchestration at scale.

    **Learn more:** [Task-First Pattern Documentation](https://docs.getbindu.com/bindu/concepts/task-first-pattern)

    ## Getting Started

    ### Authentication
    All JSON-RPC requests require a Bearer token in the Authorization header:
    ```
    Authorization: Bearer YOUR_TOKEN_HERE
    ```

    ### Basic Workflow (Async Task Pattern)

    This API uses an **asynchronous task pattern**. When you send a message, you receive a task ID
    and must poll for completion:

    **Step 1: Send a message** (creates a task)
    ```bash
    curl -X POST https://startup-analyst-agent.bindu-agents.bindus.directory \
      -H "Content-Type: application/json" \
      -H "Authorization: Bearer YOUR_TOKEN" \
      -d '{
        "jsonrpc": "2.0",
        "method": "message/send",
        "params": {
          "message": {
            "role": "user",
            "parts": [{"kind": "text", "text": "Analyze the startup Notion. Evaluate its business model, market opportunity, competitive landscape, strengths, weaknesses, and growth risks."}],
            "kind": "message",
            "messageId": "d1f8c3a4-22fb-41e8-b187-d93cb1e60001",
            "contextId": "d1f8c3a4-22fb-41e8-b187-d93cb1e60002",
            "taskId": "d1f8c3a4-22fb-41e8-b187-d93cb1e60003"
          }
        },
        "id": "d1f8c3a4-22fb-41e8-b187-d93cb1e60003"
      }'
    ```
    Response: Task with `"state": "submitted"`

    **Step 2: Poll for task status** (check if working/completed)
    ```bash
    curl -X POST https://startup-analyst-agent.bindu-agents.bindus.directory \
      -H "Content-Type: application/json" \
      -H "Authorization: Bearer YOUR_TOKEN" \
      -d '{
        "jsonrpc": "2.0",
        "method": "tasks/get",
        "params": {"taskId": "d1f8c3a4-22fb-41e8-b187-d93cb1e60003"},
        "id": "d1f8c3a4-22fb-41e8-b187-d93cb1e60004"
      }'
    ```
    Response: Task with `"state": "working"` or `"state": "completed"`

    **Step 3: Get results** (when state is "completed")
    The completed task includes:
    - `history`: Full conversation history (user message + assistant response with markdown report)
    - `artifacts`: Structured results with the final due diligence report

    ### Available JSON-RPC Methods

    - **message/send** - Send a message and create a new task
    - **tasks/get** - Get task details by ID (use for polling)
    - **tasks/list** - List all tasks with pagination
    - **tasks/cancel** - Cancel a running task
    - **tasks/feedback** - Submit feedback for a completed task
    - **contexts/list** - List conversation contexts
    - **contexts/clear** - Clear a conversation context

    ### Task States

    - `submitted` - Task created, not yet started
    - `working` - Task is being processed (web research, LLM analysis)
    - `completed` - Task finished successfully (check artifacts for markdown report)
    - `failed` - Task encountered an error
    - `canceled` - Task was canceled by user
    - `input-required` - Task needs additional input from user

    ### Advanced: Parallel Execution & Task Chaining

    **Running Multiple Analysis Tasks in Parallel:**
    ```bash
    # Analyze Notion
    curl -X POST ... -d '{"method": "message/send", "params": {"message": {"taskId": "task-1", "parts": [{"text": "Analyze Notion"}]}}}'

    # Analyze Razorpay (runs in parallel with Notion analysis)
    curl -X POST ... -d '{"method": "message/send", "params": {"message": {"taskId": "task-2", "parts": [{"text": "Analyze Razorpay"}]}}}'

    # Poll both tasks independently
    curl -X POST ... -d '{"method": "tasks/get", "params": {"taskId": "task-1"}}'
    curl -X POST ... -d '{"method": "tasks/get", "params": {"taskId": "task-2"}}'
    ```

    **Chaining Tasks with Dependencies:**
    ```bash
    # Task 1: Analyze Stripe
    curl -X POST ... -d '{
      "method": "message/send",
      "params": {
        "message": {
          "taskId": "d1f8c3a4-22fb-41e8-b187-d93cb1e60003",
          "parts": [{"text": "Analyze Stripe as an investment opportunity"}]
        }
      }
    }'

    # Wait for Task 1 to complete, then create Task 2 that references it
    curl -X POST ... -d '{
      "method": "message/send",
      "params": {
        "message": {
          "taskId": "d1f8c3a4-22fb-41e8-b187-d93cb1e60004",
          "referenceTaskIds": ["d1f8c3a4-22fb-41e8-b187-d93cb1e60003"],
          "parts": [{"text": "Compare this analysis with Razorpay"}]
        }
      }
    }'
    ```

    ### Example Use Cases

    - "Analyze the startup Notion. Evaluate its business model, market opportunity, competitive landscape, strengths, weaknesses, and growth risks."
    - "Evaluate the startup Razorpay. Analyze its revenue model, target market, competitive positioning, scalability potential, funding history impact, and key strategic risks."
    - "Perform comprehensive due diligence on Stripe"
    - "Analyze OpenAI's competitive risks and market position"
  version: 1.0.0
servers:
  - url: https://startup-analyst-agent.bindu-agents.bindus.directory
    description: Production server
security:
  - bearerAuth: []
paths:
  /:
    post:
      summary: JSON-RPC 2.0 endpoint
      description: |
        All JSON-RPC methods are sent as POST requests to this endpoint.

        **Available Methods:**
        - `message/send` - Send a message and create a new task
        - `tasks/get` - Get task details by ID (use for polling)
        - `tasks/list` - List all tasks
        - `tasks/cancel` - Cancel a running task
        - `tasks/feedback` - Submit feedback for a task
        - `contexts/list` - List conversation contexts
        - `contexts/clear` - Clear a conversation context

        **Async Task Pattern:**
        1. Call `message/send` to create a task (returns with state "submitted")
        2. Poll `tasks/get` until state changes to "completed" (or "failed")
        3. Extract markdown report from the `artifacts` array in the completed task
      operationId: jsonRpc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonRpcRequest'
            examples:
              messageSend:
                summary: Send a message (Step 1 - Create Task)
                description: Creates a new startup analysis task
                value:
                  jsonrpc: "2.0"
                  method: "message/send"
                  params:
                    message:
                      role: "user"
                      parts:
                        - kind: "text"
                          text: "Analyze the startup Notion. Evaluate its business model, market opportunity, competitive landscape, strengths, weaknesses, and growth risks."
                      kind: "message"
                      messageId: "d1f8c3a4-22fb-41e8-b187-d93cb1e60001"
                      contextId: "d1f8c3a4-22fb-41e8-b187-d93cb1e60002"
                      taskId: "d1f8c3a4-22fb-41e8-b187-d93cb1e60003"
                    configuration:
                      acceptedOutputModes:
                        - "application/json"
                  id: "d1f8c3a4-22fb-41e8-b187-d93cb1e60003"
              tasksGet:
                summary: Get task status (Step 2 - Poll for Completion)
                description: Check if the analysis is completed and retrieve results
                value:
                  jsonrpc: "2.0"
                  method: "tasks/get"
                  params:
                    taskId: "d1f8c3a4-22fb-41e8-b187-d93cb1e60003"
                  id: "d1f8c3a4-22fb-41e8-b187-d93cb1e60004"
              tasksList:
                summary: List all tasks
                description: Get a paginated list of all analysis tasks
                value:
                  jsonrpc: "2.0"
                  method: "tasks/list"
                  params:
                    limit: 10
                    offset: 0
                  id: "d1f8c3a4-22fb-41e8-b187-d93cb1e60005"
              tasksCancel:
                summary: Cancel a task
                description: Cancel a running or submitted analysis task
                value:
                  jsonrpc: "2.0"
                  method: "tasks/cancel"
                  params:
                    taskId: "d1f8c3a4-22fb-41e8-b187-d93cb1e60003"
                  id: "d1f8c3a4-22fb-41e8-b187-d93cb1e60006"
      responses:
        '200':
          description: Successful JSON-RPC response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcResponse'
              examples:
                messageSendSubmitted:
                  summary: Task created (state = submitted)
                  description: Initial response after sending an analysis request
                  value:
                    jsonrpc: "2.0"
                    id: "d1f8c3a4-22fb-41e8-b187-d93cb1e60003"
                    result:
                      id: "d1f8c3a4-22fb-41e8-b187-d93cb1e60003"
                      context_id: "d1f8c3a4-22fb-41e8-b187-d93cb1e60002"
                      kind: "task"
                      status:
                        state: "submitted"
                        timestamp: "2026-02-27T08:48:22.292385+00:00"
                      history:
                        - kind: "message"
                          role: "user"
                          parts:
                            - kind: "text"
                              text: "Analyze the startup Notion. Evaluate its business model, market opportunity, competitive landscape, strengths, weaknesses, and growth risks."
                          task_id: "d1f8c3a4-22fb-41e8-b187-d93cb1e60003"
                          context_id: "d1f8c3a4-22fb-41e8-b187-d93cb1e60002"
                          message_id: "d1f8c3a4-22fb-41e8-b187-d93cb1e60001"
                      artifacts: []
                      metadata: {}
                tasksGetWorking:
                  summary: Task in progress (state = working)
                  description: Response when polling a task that is still analyzing
                  value:
                    jsonrpc: "2.0"
                    id: "d1f8c3a4-22fb-41e8-b187-d93cb1e60004"
                    result:
                      id: "d1f8c3a4-22fb-41e8-b187-d93cb1e60003"
                      context_id: "d1f8c3a4-22fb-41e8-b187-d93cb1e60002"
                      kind: "task"
                      status:
                        state: "working"
                        timestamp: "2026-02-27T08:48:30.425656+00:00"
                      history:
                        - kind: "message"
                          role: "user"
                          parts:
                            - kind: "text"
                              text: "Analyze the startup Notion. Evaluate its business model, market opportunity, competitive landscape, strengths, weaknesses, and growth risks."
                          task_id: "d1f8c3a4-22fb-41e8-b187-d93cb1e60003"
                          context_id: "d1f8c3a4-22fb-41e8-b187-d93cb1e60002"
                          message_id: "d1f8c3a4-22fb-41e8-b187-d93cb1e60001"
                      artifacts: []
                      metadata: {}
                tasksGetCompleted:
                  summary: Task completed (state = completed)
                  description: Final response with markdown due diligence report in artifacts array
                  value:
                    jsonrpc: "2.0"
                    id: "d1f8c3a4-22fb-41e8-b187-d93cb1e60004"
                    result:
                      id: "d1f8c3a4-22fb-41e8-b187-d93cb1e60003"
                      context_id: "d1f8c3a4-22fb-41e8-b187-d93cb1e60002"
                      kind: "task"
                      status:
                        state: "completed"
                        timestamp: "2026-02-27T08:48:43.814459+00:00"
                      history:
                        - kind: "message"
                          role: "user"
                          parts:
                            - kind: "text"
                              text: "Analyze the startup Notion. Evaluate its business model, market opportunity, competitive landscape, strengths, weaknesses, and growth risks."
                          task_id: "d1f8c3a4-22fb-41e8-b187-d93cb1e60003"
                          context_id: "d1f8c3a4-22fb-41e8-b187-d93cb1e60002"
                          message_id: "d1f8c3a4-22fb-41e8-b187-d93cb1e60001"
                        - kind: "message"
                          role: "assistant"
                          parts:
                            - kind: "text"
                              text: "# Notion - Startup Intelligence Report 💼\n\n## Executive Summary\nNotion stands as a prominent player in the productivity and collaborative workspace market...\n\n## Company Profile\n- **Business Model**: Notion operates as an all-in-one workspace platform...\n\n## Financial & Growth Metrics\n- **Funding History**: Total funding stands at approximately $352.7 million...\n\n## Risk Assessment\n- **Market Risks**: Intense competition from leading collaborative tools...\n\n## Strategic Recommendations\n- **Investment Thesis**: Notion exhibits robust market penetration..."
                          task_id: "d1f8c3a4-22fb-41e8-b187-d93cb1e60003"
                          context_id: "d1f8c3a4-22fb-41e8-b187-d93cb1e60002"
                          message_id: "594b0568-8632-4734-8127-5883fcb68f06"
                      artifacts:
                        - name: "result"
                          parts:
                            - kind: "text"
                              text: "# Notion - Startup Intelligence Report 💼\n\n## Executive Summary\nNotion stands as a prominent player in the productivity and collaborative workspace market..."
                          artifact_id: "dd14de22-918b-465e-a508-ce4dd282b036"
        '400':
          description: Invalid JSON-RPC request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcResponse'
              example:
                jsonrpc: "2.0"
                id: "d1f8c3a4-22fb-41e8-b187-d93cb1e60003"
                error:
                  code: -32600
                  message: "Invalid Request"
        '401':
          description: Unauthorized - missing or invalid bearer token
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
              example:
                error: "Unauthorized"
      security:
        - bearerAuth: []
      x-code-samples:
        - lang: 'curl'
          label: 'Step 1: Send Analysis Request'
          source: |
            curl --location 'https://startup-analyst-agent.bindu-agents.bindus.directory' \
            --header 'Content-Type: application/json' \
            --header 'Authorization: Bearer YOUR_TOKEN_HERE' \
            --data '{
              "jsonrpc": "2.0",
              "method": "message/send",
              "params": {
                "message": {
                  "role": "user",
                  "parts": [
                    {
                      "kind": "text",
                      "text": "Analyze the startup Notion. Evaluate its business model, market opportunity, competitive landscape, strengths, weaknesses, and growth risks."
                    }
                  ],
                  "kind": "message",
                  "messageId": "d1f8c3a4-22fb-41e8-b187-d93cb1e60001",
                  "contextId": "d1f8c3a4-22fb-41e8-b187-d93cb1e60002",
                  "taskId": "d1f8c3a4-22fb-41e8-b187-d93cb1e60003"
                },
                "configuration": {
                  "acceptedOutputModes": [
                    "application/json"
                  ]
                }
              },
              "id": "d1f8c3a4-22fb-41e8-b187-d93cb1e60003"
            }'
  '/.well-known/agent.json':
    get:
      summary: Get Agent Card
      description: Returns the agent's metadata card following the A2A Protocol specification.
      operationId: getAgentCard
      responses:
        '200':
          description: Agent card retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentCard'
      security: []
  '/did/resolve':
    post:
      summary: Resolve DID
      description: Resolves a Decentralized Identifier (DID) to its W3C-compliant DID document.
      operationId: resolveDid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - did
              properties:
                did:
                  type: string
                  description: The DID to resolve
                  example: 'did:bindu:paras_at_getbindu_com:startup-analyst-agent:a1b2c3d4e5f6442bb0099e34b5525b06'
      responses:
        '200':
          description: DID document resolved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DidDocument'
      security: []
  '/agent/skills':
    get:
      summary: List Agent Skills
      description: Returns a list of all skills supported by the agent.
      operationId: listSkills
      responses:
        '200':
          description: List of skills
          content:
            application/json:
              schema:
                type: object
                properties:
                  skills:
                    type: array
                    items:
                      $ref: '#/components/schemas/SkillSummary'
                  total:
                    type: integer
                    example: 1
      security: []
  '/agent/skills/{skillId}':
    get:
      summary: Get Skill Details
      description: Returns detailed information about a specific skill.
      operationId: getSkillDetails
      parameters:
        - name: skillId
          in: path
          required: true
          schema:
            type: string
          description: The skill identifier (e.g., 'startup-analyst-v1')
      responses:
        '200':
          description: Skill details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SkillDetail'
        '404':
          description: Skill not found
      security: []
  '/agent/skills/{skillId}/documentation':
    get:
      summary: Get Skill Documentation
      description: Returns human-readable documentation for a specific skill in Markdown or YAML format.
      operationId: getSkillDocumentation
      parameters:
        - name: skillId
          in: path
          required: true
          schema:
            type: string
          description: The skill identifier
      responses:
        '200':
          description: Skill documentation
          content:
            application/yaml:
              schema:
                type: string
                description: YAML formatted documentation
            text/markdown:
              schema:
                type: string
                description: Markdown formatted documentation
        '404':
          description: Skill not found
      security: []
  '/agent/negotiation':
    post:
      summary: Assess Task Capability
      description: Assess agent's capability to handle a task for negotiation.
      operationId: assessTaskCapability
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NegotiationRequest'
      responses:
        '200':
          description: Capability assessment result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NegotiationResponse'
      security: []
  '/api/start-payment-session':
    post:
      summary: Start Payment Session
      description: Initiates a payment session for x402 protocol.
      operationId: startPaymentSession
      responses:
        '200':
          description: Payment session started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSession'
      security:
        - bearerAuth: []
  '/api/payment-status/{sessionId}':
    get:
      summary: Get Payment Status
      description: Retrieves the status of a payment session.
      operationId: getPaymentStatus
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
          description: The payment session identifier
        - name: wait
          in: query
          schema:
            type: boolean
            default: false
          description: Set to 'true' to wait for completion (up to 5 minutes)
      responses:
        '200':
          description: Payment status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentStatus'
      security:
        - bearerAuth: []
  '/payment-capture':
    get:
      summary: Payment Capture Page
      description: Browser page to capture payment. Shows paywall UI and captures payment token.
      operationId: paymentCapture
      parameters:
        - name: session_id
          in: query
          required: true
          schema:
            type: string
          description: The payment session ID
      responses:
        '200':
          description: Payment capture page (HTML)
          content:
            text/html:
              schema:
                type: string
      security: []
  /health:
    get:
      summary: Health Check
      description: Health check endpoint for service monitoring.
      operationId: healthCheck
      responses:
        '200':
          description: Service health information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
      security: []
  /metrics:
    get:
      summary: Prometheus Metrics
      description: Prometheus metrics endpoint for scraping.
      operationId: getMetrics
      responses:
        '200':
          description: Metrics in Prometheus text format
          content:
            text/plain:
              schema:
                type: string
      security: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Bearer token authentication. Include `Bearer <token>` in the Authorization header.
  schemas:
    # ----- JSON-RPC -----
    JsonRpcRequest:
      type: object
      required:
        - jsonrpc
        - method
        - id
      properties:
        jsonrpc:
          type: string
          enum: ['2.0']
        method:
          type: string
          enum:
            - message/send
            - tasks/get
            - tasks/list
            - tasks/cancel
            - tasks/feedback
            - contexts/list
            - contexts/clear
        params:
          oneOf:
            - $ref: '#/components/schemas/MessageSendParams'
            - $ref: '#/components/schemas/TasksGetParams'
            - $ref: '#/components/schemas/TasksListParams'
            - $ref: '#/components/schemas/TasksCancelParams'
            - $ref: '#/components/schemas/TasksFeedbackParams'
            - $ref: '#/components/schemas/ContextsListParams'
            - $ref: '#/components/schemas/ContextsClearParams'
          discriminator:
            propertyName: method
            mapping:
              message/send: '#/components/schemas/MessageSendParams'
              tasks/get: '#/components/schemas/TasksGetParams'
              tasks/list: '#/components/schemas/TasksListParams'
              tasks/cancel: '#/components/schemas/TasksCancelParams'
              tasks/feedback: '#/components/schemas/TasksFeedbackParams'
              contexts/list: '#/components/schemas/ContextsListParams'
              contexts/clear: '#/components/schemas/ContextsClearParams'
        id:
          type: string
          format: uuid
          example: 'd1f8c3a4-22fb-41e8-b187-d93cb1e60003'
    JsonRpcResponse:
      type: object
      properties:
        jsonrpc:
          type: string
          enum: ['2.0']
        id:
          type: string
          format: uuid
        result:
          oneOf:
            - $ref: '#/components/schemas/MessageSendResult'
            - $ref: '#/components/schemas/TasksGetResult'
            - $ref: '#/components/schemas/TasksListResult'
            - $ref: '#/components/schemas/TasksCancelResult'
            - $ref: '#/components/schemas/TasksFeedbackResult'
            - $ref: '#/components/schemas/ContextsListResult'
            - $ref: '#/components/schemas/ContextsClearResult'
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
      oneOf:
        - required: [result]
        - required: [error]
    # MessageSend
    MessageSendParams:
      type: object
      description: |
        Parameters for sending a message to create a new startup analysis task.

        **This creates an asynchronous task** - the response will contain a task ID with state "submitted".
        You must poll the task using `tasks/get` to check when it completes (typically 15-20 seconds).
      required:
        - message
      properties:
        message:
          $ref: '#/components/schemas/UserMessage'
        configuration:
          type: object
          description: Configuration options for the task execution
          properties:
            acceptedOutputModes:
              type: array
              description: Preferred output formats (e.g., "application/json" for structured data)
              items:
                type: string
                enum: ['application/json', 'text/plain']
        skillId:
          type: string
          description: Optional skill ID to invoke (e.g., "startup-analyst-v1")
    UserMessage:
      type: object
      description: |
        A message from the user to the agent.

        **Important:** All IDs (messageId, contextId, taskId) should be UUIDs generated by the client.
        Use the same contextId for related messages in a conversation.
      required:
        - role
        - parts
        - kind
        - messageId
        - contextId
        - taskId
      properties:
        role:
          type: string
          enum: ['user']
          description: Must be "user" for messages sent to the agent
        parts:
          type: array
          description: Array of message parts (currently only text is supported)
          items:
            $ref: '#/components/schemas/MessagePart'
        kind:
          type: string
          enum: ['message']
          description: Must be "message"
        messageId:
          type: string
          format: uuid
          description: Unique identifier for this message (client-generated UUID)
        contextId:
          type: string
          format: uuid
          description: Conversation context ID - use the same ID for related messages
        taskId:
          type: string
          format: uuid
          description: Task ID for this request (client-generated UUID) - use this to poll for results
        referenceTaskIds:
          type: array
          description: |
            Optional array of task IDs that this task depends on or references.

            **Use Cases:**
            - **Task Chaining**: Reference a completed analysis to build on its results
            - **Context Sharing**: Link related analysis tasks in a workflow
            - **Dependency Management**: Indicate this task needs results from other tasks

            **Example Workflow:**
            ```
            Task1: "Analyze Stripe" → completes with due diligence report
            Task2: "Compare with Razorpay" (referenceTaskIds: [Task1]) → uses Task1 results
            Task3: "Investment recommendation" (referenceTaskIds: [Task1, Task2]) → combines both
            ```

            The agent can access results from referenced tasks to provide better context.
          items:
            type: string
            format: uuid
        metadata:
          type: object
          description: Additional metadata, e.g., for payment
    MessagePart:
      type: object
      required:
        - kind
      properties:
        kind:
          type: string
          enum: ['text']
        text:
          type: string
    MessageSendResult:
      type: object
      properties:
        id:
          type: string
          format: uuid
        context_id:
          type: string
          format: uuid
        kind:
          type: string
          enum: ['task']
        status:
          $ref: '#/components/schemas/TaskStatus'
        history:
          type: array
          items:
            $ref: '#/components/schemas/HistoryMessage'
        artifacts:
          type: array
          items:
            $ref: '#/components/schemas/Artifact'
        metadata:
          type: object
    TaskStatus:
      type: object
      description: |
        Current status of a task.

        **Task Lifecycle:**

        **Non-Terminal States (Task Open, Mutable):**
        1. `submitted` - Task created, queued for processing
        2. `working` - Task is being processed (web research, LLM analysis)
        3. `input-required` - Task needs additional input from user
        4. `auth-required` - Task needs authentication/authorization

        **Terminal States (Task Immutable, Final):**
        - `completed` - Task finished successfully (check artifacts for markdown report)
        - `failed` - Task encountered an error
        - `canceled` - Task was canceled by user
        - `rejected` - Task was rejected (e.g., capability mismatch)

        **Important:** Once a task reaches a terminal state, it becomes immutable and cannot be restarted.
        To refine or continue work, create a new task with `referenceTaskIds` pointing to the completed task.
      required:
        - state
        - timestamp
      properties:
        state:
          type: string
          enum: [submitted, working, input-required, auth-required, completed, failed, canceled, rejected]
          description: |
            Current state of the task:

            **Non-Terminal (poll again):**
            - **submitted**: Task created, not yet started
            - **working**: Task is being processed (web research, article extraction, LLM analysis)
            - **input-required**: Task needs more information from user
            - **auth-required**: Task needs authentication/authorization

            **Terminal (final state):**
            - **completed**: Task finished - markdown report is in artifacts array
            - **failed**: Task encountered an error (check history for details)
            - **canceled**: Task was canceled by user
            - **rejected**: Task was rejected (e.g., agent cannot handle this request)
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp of when this state was reached
    HistoryMessage:
      type: object
      properties:
        kind:
          type: string
        role:
          type: string
        parts:
          type: array
          items:
            $ref: '#/components/schemas/MessagePart'
        task_id:
          type: string
          format: uuid
        context_id:
          type: string
          format: uuid
        message_id:
          type: string
          format: uuid
        reference_task_ids:
          type: array
          items:
            type: string
            format: uuid
    Artifact:
      type: object
      description: |
        A structured output artifact from a completed task.

        The artifact with `name: "result"` contains the final markdown-formatted due diligence report.
      properties:
        name:
          type: string
          description: Artifact name (typically "result" for the main output)
        parts:
          type: array
          description: Content parts of the artifact
          items:
            $ref: '#/components/schemas/MessagePart'
        artifact_id:
          type: string
          format: uuid
          description: Unique identifier for this artifact
        metadata:
          type: object
          description: Additional artifact metadata (may include signatures)
    # TasksGet
    TasksGetParams:
      type: object
      description: |
        Parameters for retrieving task details.

        **Use this method to poll for task completion** after calling `message/send`.
        Poll every 3-5 seconds until the state is "completed", "failed", or "canceled".
        Typical analysis takes 15-20 seconds.
      required:
        - taskId
      properties:
        taskId:
          type: string
          format: uuid
          description: The task ID returned from message/send
    TasksGetResult:
      $ref: '#/components/schemas/Task'
    Task:
      type: object
      description: |
        A task represents an asynchronous startup analysis operation.

        **When state is "completed":**
        - `history` contains the full conversation (user message + assistant response with markdown report)
        - `artifacts` contains the structured results (check the "result" artifact for the markdown report)
      properties:
        id:
          type: string
          format: uuid
          description: Unique task identifier
        context_id:
          type: string
          format: uuid
          description: Conversation context this task belongs to
        kind:
          type: string
          enum: ['task']
          description: Always "task"
        status:
          $ref: '#/components/schemas/TaskStatus'
        history:
          type: array
          description: Conversation history (user messages and assistant responses)
          items:
            $ref: '#/components/schemas/HistoryMessage'
        artifacts:
          type: array
          description: |
            Structured results when task is completed.
            Look for the artifact with name "result" for the final markdown-formatted due diligence report.
          items:
            $ref: '#/components/schemas/Artifact'
        metadata:
          type: object
          description: Additional task metadata
    # TasksList
    TasksListParams:
      type: object
      properties:
        limit:
          type: integer
          minimum: 1
          maximum: 100
        offset:
          type: integer
          minimum: 0
    TasksListResult:
      type: array
      items:
        $ref: '#/components/schemas/Task'
    # TasksCancel
    TasksCancelParams:
      type: object
      required:
        - taskId
      properties:
        taskId:
          type: string
          format: uuid
    TasksCancelResult:
      $ref: '#/components/schemas/Task'
    # TasksFeedback
    TasksFeedbackParams:
      type: object
      required:
        - taskId
        - feedback
      properties:
        taskId:
          type: string
          format: uuid
        feedback:
          type: string
        rating:
          type: integer
          minimum: 1
          maximum: 5
        metadata:
          type: object
    TasksFeedbackResult:
      type: object
      properties:
        success:
          type: boolean
    # ContextsList
    ContextsListParams:
      type: object
      properties:
        length:
          type: integer
          minimum: 1
          maximum: 100
    ContextsListResult:
      type: array
      items:
        type: object
        description: Conversation context object
    # ContextsClear
    ContextsClearParams:
      type: object
      required:
        - contextId
      properties:
        contextId:
          type: string
          format: uuid
    ContextsClearResult:
      type: object
      properties:
        success:
          type: boolean

    # ----- Agent Card -----
    AgentCard:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        url:
          type: string
        version:
          type: string
        protocolVersion:
          type: string
        skills:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              documentationPath:
                type: string
        capabilities:
          type: object
          properties:
            extensions:
              type: array
              items:
                type: object
            pushNotifications:
              type: boolean
            streaming:
              type: boolean
        kind:
          type: string
        numHistorySessions:
          type: integer
        extraData:
          type: object
        debugMode:
          type: boolean
        debugLevel:
          type: integer
        monitoring:
          type: boolean
        telemetry:
          type: boolean
        agentTrust:
          type: string
        defaultInputModes:
          type: array
          items:
            type: string
        defaultOutputModes:
          type: array
          items:
            type: string
      example:
        id: 'a1b2c3d4-e5f6-442b-b009-9e34b5525b06'
        name: 'startup-analyst-agent'
        description: 'AI-powered business intelligence assistant that evaluates startups by analyzing market potential, business models, competition, traction, and risks. Provides structured insights, growth opportunities, and data-driven recommendations for founders, investors, and analysts.'
        url: 'http://localhost'
        version: '1.0.0'
        protocolVersion: '1.0.0'
        skills:
          - id: 'startup-analyst-v1'
            name: 'startup-analyst'
            documentationPath: 'http://localhost/agent/skills/startup-analyst-v1'
        capabilities:
          extensions:
            - uri: 'did:bindu:paras_at_getbindu_com:startup-analyst-agent:a1b2c3d4e5f6442bb0099e34b5525b06'
              description: 'DID-based identity for startup-analyst-agent'
              required: false
              params:
                author: 'paras@getbindu.com'
                agent_name: 'startup-analyst-agent'
                agent_id: 'a1b2c3d4e5f6442bb0099e34b5525b06'
          pushNotifications: false
          streaming: false
        kind: 'agent'
        numHistorySessions: 5
        extraData:
          created: 1771960617
          server_info: 'bindu Agent Server'
        debugMode: true
        debugLevel: 2
        monitoring: false
        telemetry: true
        agentTrust: 'low'
        defaultInputModes: ['text/plain', 'application/json']
        defaultOutputModes: ['text/plain', 'application/json']

    # ----- DID Document -----
    DidDocument:
      type: object
      properties:
        '@context':
          type: array
          items:
            type: string
        id:
          type: string
        created:
          type: string
          format: date-time
        authentication:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              controller:
                type: string
              publicKeyBase58:
                type: string
      example:
        '@context':
          - 'https://www.w3.org/ns/did/v1'
          - 'https://getbindu.com/ns/v1'
        id: 'did:bindu:paras_at_getbindu_com:startup-analyst-agent:a1b2c3d4e5f6442bb0099e34b5525b06'
        created: '2026-02-24T19:15:13.581497+00:00'
        authentication:
          - id: 'did:bindu:paras_at_getbindu_com:startup-analyst-agent:a1b2c3d4e5f6442bb0099e34b5525b06#key-1'
            type: 'Ed25519VerificationKey2020'
            controller: 'did:bindu:paras_at_getbindu_com:startup-analyst-agent:a1b2c3d4e5f6442bb0099e34b5525b06'
            publicKeyBase58: 'G5GArDaptfioimLdNbMgCKCvxndXhpcS6VUkRFEds12B'

    # ----- Skills -----
    SkillSummary:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        version:
          type: string
        tags:
          type: array
          items:
            type: string
        input_modes:
          type: array
          items:
            type: string
        output_modes:
          type: array
          items:
            type: string
        examples:
          type: array
          items:
            type: string
        documentation_path:
          type: string
      example:
        id: 'startup-analyst-v1'
        name: 'startup-analyst'
        description: |-
          Analyzes startups and private companies using web search and article extraction.
          Generates markdown-formatted due diligence reports covering business models,
          market opportunity, competitive positioning, financial signals, and risks.
        version: '1.0.0'
        tags: ['startup', 'due-diligence', 'venture-capital', 'business-analysis', 'investment']
        input_modes: ['text/plain', 'application/json']
        output_modes: ['text/plain', 'application/json']
        examples:
          - 'Analyze the startup Notion. Evaluate its business model, market opportunity, competitive landscape, strengths, weaknesses, and growth risks.'
          - 'Evaluate the startup Razorpay. Analyze its revenue model, target market, competitive positioning, scalability potential, funding history impact, and key strategic risks.'
          - 'Perform comprehensive due diligence on Stripe'
        documentation_path: 'startup_analyst_agent/skills/startup-analyst/skill.yaml'

    SkillDetail:
      allOf:
        - $ref: '#/components/schemas/SkillSummary'
        - type: object
          properties:
            author:
              type: string
            capabilities_detail:
              type: object
              properties:
                primary_capability:
                  type: object
                  properties:
                    supported:
                      type: boolean
                    description:
                      type: string
                    features:
                      type: array
                      items:
                        type: string
                    limitations:
                      type: string
                secondary_capability:
                  type: object
                  properties:
                    supported:
                      type: boolean
                    description:
                      type: string
                    features:
                      type: array
                      items:
                        type: string
                    limitations:
                      type: string
            requirements:
              type: object
              properties:
                packages:
                  type: array
                  items:
                    type: string
                optional_packages:
                  type: array
                  items:
                    type: string
                system:
                  type: array
                  items:
                    type: string
                min_memory_mb:
                  type: integer
            performance:
              type: object
              properties:
                avg_processing_time_ms:
                  type: integer
                max_concurrent_requests:
                  type: string
                memory_per_request_mb:
                  type: integer
                scalability:
                  type: string
            allowed_tools:
              type: array
              items:
                type: string
            documentation:
              type: object
              properties:
                overview:
                  type: string
                use_cases:
                  type: object
                  properties:
                    when_to_use:
                      type: array
                      items:
                        type: string
                    when_not_to_use:
                      type: array
                      items:
                        type: string
                input_structure:
                  type: string
                output_format:
                  type: string
                error_handling:
                  type: array
                  items:
                    type: string
                examples:
                  type: array
                  items:
                    type: object
                best_practices:
                  type: object
                installation:
                  type: string
                versioning:
                  type: array
                  items:
                    type: object
            assessment:
              type: object
              properties:
                keywords:
                  type: array
                  items:
                    type: string
                specializations:
                  type: array
                  items:
                    type: object
                anti_patterns:
                  type: array
                  items:
                    type: string
                complexity_indicators:
                  type: object
            has_documentation:
              type: boolean
      example:
        id: 'startup-analyst-v1'
        name: 'startup-analyst'
        description: |-
          Analyzes startups and private companies using web search and article extraction.
          Generates markdown-formatted due diligence reports covering business models,
          market opportunity, competitive positioning, financial signals, and risks.
        tags: ['startup', 'due-diligence', 'venture-capital', 'business-analysis', 'investment']
        input_modes: ['text/plain', 'application/json']
        output_modes: ['text/plain', 'application/json']
        version: '1.0.0'
        author: 'paras@getbindu.com'
        examples:
          - 'Analyze the startup Notion. Evaluate its business model, market opportunity, competitive landscape, strengths, weaknesses, and growth risks.'
          - 'Evaluate the startup Razorpay. Analyze its revenue model, target market, competitive positioning, scalability potential, funding history impact, and key strategic risks.'
        capabilities_detail:
          primary_capability:
            supported: true
            description: 'Performs web-based startup and company due diligence analysis using LLM'
            features:
              - 'Web search via DuckDuckGo (default) or Exa (if API key provided)'
              - 'Article extraction and content analysis via Newspaper4k'
              - 'LLM-based evaluation of business models and market positioning'
              - 'Research on funding history and financial indicators from public sources'
              - 'Risk identification based on available public information'
              - 'Markdown-formatted executive reports'
            limitations: 'Limited to publicly available information; no proprietary databases; no guaranteed accuracy of web-sourced data; no automated scoring system'
          secondary_capability:
            supported: true
            description: 'Optional memory and advanced scraping capabilities'
            features:
              - 'Context retention across sessions via Mem0 (requires MEM0_API_KEY)'
              - 'Enhanced web scraping via ScrapeGraph (requires SGAI_API_KEY)'
              - 'Supports OpenAI GPT-4o or OpenRouter models'
            limitations: 'Memory and ScrapeGraph features require additional API keys; not enabled by default'
        requirements:
          packages:
            - 'agno'
            - 'openai (for OpenAI models)'
            - 'duckduckgo-search'
            - 'newspaper4k'
            - 'bindu-penguin'
            - 'python-dotenv'
          optional_packages:
            - 'mem0 (for memory features)'
            - 'scrapegraph-py (for enhanced scraping)'
          system:
            - 'Internet access required'
            - 'At least one API key: OPENAI_API_KEY or OPENROUTER_API_KEY'
          min_memory_mb: 512
        performance:
          avg_processing_time_ms: 15000
          max_concurrent_requests: 'Not specified in code'
          memory_per_request_mb: 512
          scalability: 'Depends on LLM provider rate limits'
        allowed_tools:
          - 'DuckDuckGoTools (web search)'
          - 'Newspaper4kTools (article extraction)'
          - 'ExaTools (optional, requires EXA_API_KEY)'
          - 'Mem0Tools (optional, requires MEM0_API_KEY)'
          - 'ScrapeGraphTools (optional, requires SGAI_API_KEY)'
        documentation:
          overview: |-
            This skill provides LLM-powered startup analysis using web research.
            It searches the internet for company information, extracts content from articles,
            and generates markdown-formatted due diligence reports.

            Uses Agno Agent framework with OpenAI GPT-4o or OpenRouter models.
            Accepts messages via JSON-RPC protocol and returns text-based analysis.
            No automated scoring or structured data extraction - relies on LLM reasoning.
          use_cases:
            when_to_use:
              - 'Evaluating startups for investment consideration'
              - 'Performing structured due diligence'
              - 'Assessing business models and scalability'
              - 'Analyzing competitive positioning'
              - 'Identifying risks before strategic decisions'
              - 'Preparing executive or investor-ready summaries'
            when_not_to_use:
              - 'Simple company information lookup'
              - 'Real-time stock trading decisions'
              - 'Legal contract review'
              - 'Personal financial advice'
              - 'Technical product debugging'
          input_structure: |
            Accepts natural language text requests via JSON-RPC message/send method.
            Text-based queries only - no structured parameters supported.
            LLM interprets request and decides research approach.
          output_format: |
            Returns markdown-formatted text report via JSON-RPC response.
            Report includes: Executive Summary, Company Profile, Financial & Growth Metrics,
            Risk Assessment, Strategic Recommendations, Sources & Methodology.
            No automated scoring system; no structured JSON data extraction.
          error_handling:
            - 'Missing API keys: Raises ValueError with setup instructions'
            - 'Agent not initialized: Raises RuntimeError'
            - 'LLM errors: Propagated from underlying model provider'
            - 'Web search failures: Falls back to available tools or notes limitations'
            - 'No explicit retry logic in code'
          examples:
            - title: 'Notion Startup Analysis'
              input:
                text: 'Analyze the startup Notion. Evaluate its business model, market opportunity, competitive landscape, strengths, weaknesses, and growth risks.'
              output:
                format: 'Markdown text report'
                sections: 'Executive Summary, Company Profile, Financial & Growth Metrics, Risk Assessment, Strategic Recommendations, Sources & Methodology'
                processing_time: '~20 seconds'
          best_practices:
            for_developers:
              - 'Set at least one API key: OPENAI_API_KEY or OPENROUTER_API_KEY'
              - 'Optional: Set EXA_API_KEY for better search, MEM0_API_KEY for memory, SGAI_API_KEY for scraping'
              - 'Use JSON-RPC protocol for communication'
              - 'Poll tasks/get endpoint to retrieve completed analysis'
              - 'Expect markdown text output, not structured JSON'
            for_orchestrators:
              - 'Route startup analysis and due diligence queries here'
              - 'Task status: submitted → completed (async processing)'
              - 'No built-in timeout in code - implement at orchestrator level'
              - 'No scoring system - LLM generates qualitative analysis only'
          installation: |-
            Required packages:
            pip install agno openai duckduckgo-search newspaper4k bindu-penguin python-dotenv

            Environment variables (at least one required):
            - OPENAI_API_KEY (for OpenAI GPT-4o)
            - OPENROUTER_API_KEY (for OpenRouter models)

            Optional environment variables:
            - EXA_API_KEY (for Exa search instead of DuckDuckGo)
            - MEM0_API_KEY (for memory features)
            - SGAI_API_KEY (for ScrapeGraph tools)
            - MODEL_NAME (default: openai/gpt-4o for OpenRouter)

            Run:
            python -m startup_analyst_agent.main
          versioning:
            - version: '1.0.0'
              date: '2026-01-13'
              changes: 'Initial release with web-based startup analysis using Agno Agent framework'
        assessment:
          keywords:
            - 'startup'
            - 'due diligence'
            - 'investment'
            - 'venture capital'
            - 'business model'
            - 'market opportunity'
            - 'competitive analysis'
            - 'risk assessment'
            - 'company analysis'
          specializations:
            - domain: 'publicly documented startups'
              note: 'Performance depends on available web information'
            - domain: 'technology companies'
              note: 'Better coverage due to tech news sources'
            - domain: 'venture-backed companies'
              note: 'Funding data often publicly available'
          anti_patterns:
            - 'stock price check'
            - 'buy or sell recommendation'
            - 'legal contract review'
            - 'technical implementation help'
            - 'simple company lookup'
          complexity_indicators:
            simple:
              - 'company overview'
              - 'basic business model'
            medium:
              - 'market opportunity analysis'
              - 'funding history review'
              - 'competitive positioning'
            complex:
              - 'comprehensive due diligence'
              - 'multi-faceted risk analysis'
              - 'strategic recommendations'
            note: 'All complexity levels use same LLM-based approach; no tiered processing'
        has_documentation: true

    # ----- Negotiation -----
    NegotiationRequest:
      type: object
      required:
        - task_summary
      properties:
        task_summary:
          type: string
          maxLength: 10000
        task_details:
          type: string
        input_mime_types:
          type: array
          items:
            type: string
        output_mime_types:
          type: array
          items:
            type: string
        max_latency_ms:
          type: integer
        max_cost_amount:
          type: number
          format: float
        required_tools:
          type: array
          items:
            type: string
        forbidden_tools:
          type: array
          items:
            type: string
        min_score:
          type: number
          format: float
          minimum: 0
          maximum: 1
        weights:
          type: object
          properties:
            skill_match:
              type: number
              format: float
            io_compatibility:
              type: number
              format: float
            performance:
              type: number
              format: float
            load:
              type: number
              format: float
            cost:
              type: number
              format: float
      example:
        task_summary: 'Analyze startup Notion for investment potential'
        task_details: 'Need comprehensive due diligence covering business model, market, competition, and risks'
        input_mime_types: ['text/plain', 'application/json']
        output_mime_types: ['application/json']
        max_latency_ms: 30000
        max_cost_amount: 0.05
        required_tools: []
        forbidden_tools: []
        min_score: 0.5
        weights:
          skill_match: 0.55
          io_compatibility: 0.20
          performance: 0.15
          load: 0.05
          cost: 0.05
    NegotiationResponse:
      type: object
      properties:
        accepted:
          type: boolean
        score:
          type: number
          format: float
        confidence:
          type: number
          format: float
        rejection_reason:
          type: string
        queue_depth:
          type: integer
        subscores:
          type: object
          properties:
            skill_match:
              type: number
              format: float
            io_compatibility:
              type: number
              format: float
            load:
              type: number
              format: float
            cost:
              type: number
              format: float
      example:
        accepted: true
        score: 0.85
        confidence: 0.9
        rejection_reason: null
        queue_depth: 2
        subscores:
          skill_match: 0.95
          io_compatibility: 1
          load: 0.8
          cost: 0.9

    # ----- Payment -----
    PaymentSession:
      type: object
      properties:
        sessionId:
          type: string
        requirements:
          type: object
        url:
          type: string
        expiresAt:
          type: string
          format: date-time
    PaymentStatus:
      type: object
      properties:
        status:
          type: string
          enum: [pending, completed, failed]
        paymentToken:
          type: string
        expiresAt:
          type: string
          format: date-time

    # ----- Health -----
    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [ok, error]
        ready:
          type: boolean
        uptime_seconds:
          type: number
        version:
          type: string
        health:
          type: string
        runtime:
          type: object
          properties:
            storage_backend:
              type: string
            scheduler_backend:
              type: string
            task_manager_running:
              type: boolean
            strict_ready:
              type: boolean
        application:
          type: object
          properties:
            penguin_id:
              type: string
            agent_did:
              type: string
        system:
          type: object
          properties:
            python_version:
              type: string
            platform:
              type: string
            platform_release:
              type: string
            environment:
              type: string
      example:
        status: 'ok'
        ready: true
        uptime_seconds: 31.43
        version: '2026.9.2.2'
        health: 'healthy'
        runtime:
          storage_backend: 'PostgresStorage'
          scheduler_backend: 'RedisScheduler'
          task_manager_running: true
          strict_ready: true
        application:
          penguin_id: 'a1b2c3d4e5f6442bb0099e34b5525b06'
          agent_did: 'did:bindu:paras_at_getbindu_com:startup-analyst-agent:a1b2c3d4e5f6442bb0099e34b5525b06'
        system:
          python_version: '3.12.12'
          platform: 'Linux'
          platform_release: '6.8.0-90-generic'
          environment: 'development'
